%form-defaults{
    font-size:16px;
    font-family: Avenir Next;
}

%wrapper-default{
    padding: 35px;
    border-radius: 10px;
    margin: 50px auto;
}
%titles{
    text-transform: uppercase;
    font-family:Rockwell;
    font-weight: 700px;
    font-size:32px;
}
// I could have used this a bit more