$hex-teal: #32849B;
$hex-gray: #D7D7D7;
$hex-light-gray: #AEAEAE;
$profile-image: url(/images/248831813_204721378443398_6158503095792046335_n.jpg);
$width:175px;
$height:175px;
$default-text: Avenir Next;