$hex-teal: #32849B;
$hex-gray: #D7D7D7;
$hex-light-gray: #AEAEAE;
$hex-light-white: #fff;
// this is my dog Bruce 
$profile-image: url(/images/248831813_204721378443398_6158503095792046335_n.jpg);
$width-small:175px;
$height-small:175px;
$width-large:250px;
$width-large-max:100%;
$height-large:250px;
$default-text: Avenir Next;
$layout-width: 760px;
$font-weight:600;