p.display-result-results, .button-group .btn, .edit-profile a {
  font-size: 16px;
  font-family: Avenir Next;
}

html body {
  background: #D7D7D7;
}

.submitted-results-container {
  display: none;
}

#puppy-title {
  text-transform: uppercase;
  color: #32849B;
  font-family: Rockwell;
  font-weight: 700px;
  font-size: 32px;
}

#profile-image {
  background: url(/images/248831813_204721378443398_6158503095792046335_n.jpg) no-repeat center;
  background-size: contain;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 0 auto;
}

.edit-profile {
  text-align: center;
}
.edit-profile a {
  color: #4E4E4E;
  font-weight: 600;
  text-transform: uppercase;
}

.container .puppy-profile-wrapper {
  border-radius: 10px;
  margin: 50px auto;
  background-color: #fff;
  padding: 35px;
}
.container .puppy-profile-wrapper-submitted {
  background: #32849B;
  padding: 35px;
  border-radius: 10px;
  margin: 50px auto;
}
.container #puppy-title-submitted {
  color: #fff;
  text-transform: uppercase;
  font-family: Rockwell;
  font-weight: 700px;
  font-size: 32px;
}
.container .title-line {
  border-color: #AEAEAE;
}

label {
  color: #4E4E4E;
  font-weight: 600;
  font-size: 16px;
}

input.form-control {
  border-color: #32849B;
}
input.form-control:focus {
  background: #32849B;
  color: #fff;
}

.birthdate-label {
  width: 100%;
}

.form-date {
  padding: 10px 5px;
  border: solid 0.25px #32849B;
  border-radius: 6px;
  color: #AEAEAE;
  width: 32%;
}
.form-date:focus-visible {
  background: #32849B;
  color: #fff;
}

.birthdate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#gender-container .gender-radio {
  appearance: none;
  border: solid 0.5px #32849B;
  padding: 8px;
  margin: 0 5px;
}

input[type=radio]:checked {
  appearance: auto;
}

.misc-form .misc-form-control {
  border-color: #32849B;
  resize: none;
  min-height: 125px;
}
.misc-form .misc-form-control::-webkit-input-placeholder {
  color: #AEAEAE;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button-group .btn {
  width: 130px;
  height: 45px;
  margin: 0 5px;
}
.button-group .cancel-btn {
  color: gray;
  border: solid 1px #AEAEAE;
}
.button-group .submit-btn {
  background-color: #32849B;
}

p.display-result-label {
  color: #fff;
  font-size: 16px;
}

p.display-result-results {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  color: #32849B;
  font-weight: 600;
}

@media (max-width: 760px) {
  .two-column-container.row {
    display: block;
  }
  .container {
    padding: 0;
    max-width: 100%;
  }
  .container .title-line {
    border-color: #3c3c3c;
  }
  .puppy-profile-wrapper {
    text-align: left;
  }
  #puppy-title {
    font-weight: bold;
  }
  #profile-image {
    width: 250px;
    height: 250px;
  }
  .col-4.image-col {
    max-width: 100%;
  }
  .col-8.form-col {
    max-width: 100%;
  }
  .button-group {
    flex-direction: row;
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
