@import "helpers/variables";
@import "helpers/placeholders";

html{
  body{
  background: $hex-gray;
  }
}
.submitted-results-container{
  display:none;
}
#puppy-title {
  text-transform: uppercase;
  color:$hex-teal;
  font-family:Rockwell;
  font-weight: 700px;
  font-size:32px;
}

#profile-image{
background:$profile-image no-repeat center;
background-size: contain;
width:$width-small;
height: $height-small;
border-radius: 50%;
margin:0 auto;
}

.edit-profile{
  text-align: center;
  a{
    @extend %form-defaults;
    color: #4E4E4E;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.container{
  .puppy-profile-wrapper{
    border-radius: 10px;
    margin: 50px auto;
    background-color:$hex-light-white;
    padding: 35px;
  }
  .puppy-profile-wrapper-submitted{
    background:$hex-teal;
    padding: 35px;
    border-radius: 10px;
    margin: 50px auto;
  }
  #puppy-title-submitted{
    color:$hex-light-white;
    text-transform: uppercase;
    font-family:Rockwell;
    font-weight: 700px;
    font-size:32px;
  }
  .title-line{
    border-color: #AEAEAE;
  }
}
label {
  color: #4E4E4E;
  font-weight: 600;
  font-size: 16px;
}
input.form-control{
  border-color:$hex-teal;
  &:focus{
    background: $hex-teal;
    color:$hex-light-white;
  }
}
.birthdate-label{
  width: $width-large-max;
}
  .form-date{
    padding: 10px 5px;
    border: solid 0.25px $hex-teal;
    border-radius: 6px;
    color: $hex-light-gray;
    width: 32%;
    &:focus-visible{
      background: $hex-teal;
      color:$hex-light-white;
    }
  }
  .birthdate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#gender-container{
  .gender-radio {
  appearance: none;
  border: solid .5px $hex-teal;
  padding: 8px;
  margin: 0 5px;
}
}

input[type=radio]:checked {
appearance: auto;
} 
.misc-form{
  .misc-form-control{
  border-color: $hex-teal;
  resize: none;
  min-height: 125px;
  &::-webkit-input-placeholder {
    color: $hex-light-gray;
  }
}
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .btn{
    @extend %form-defaults;
    width: 130px;
    height: 45px;
    margin:0 5px;
  }
  .cancel-btn{
    color: gray;
    border:solid 1px $hex-light-gray;
  }
  .submit-btn{
    background-color: $hex-teal;
  }
}
p.display-result-label {
  color: $hex-light-white;
  font-size: 16px;
}

p.display-result-results {
  @extend %form-defaults;
  padding: 10px;
  border-radius: 10px;
  background: $hex-light-white;
  color: $hex-teal;
  font-weight: 600;
}

@media (max-width: $layout-width) {
  .two-column-container.row {
    display: block;
}
.container {
    padding: 0;
    max-width:$width-large-max;
}
.container .title-line {
  border-color: #3c3c3c;
}
.puppy-profile-wrapper {
    text-align: left;
}
#puppy-title {
    font-weight: bold;
}
#profile-image{
  width:$width-large;
  height: $height-large;
  }
.col-4.image-col {
    max-width: $width-large-max;
}

.col-8.form-col {
    max-width: $width-large-max;
}
.button-group {
  flex-direction: row;
  justify-content: center;
}
}